/* A mae de todos: */
.main_login{
    display: flex;
    height: 100vh;

}

/*Banner da esquerda: */
.banner{
    background-image: url("../../assets/img/fundoLogin.png");
    flex: 1;
}



/*Form de Login da direita: */
.section_login{
    flex: 1;
}